@font-face {
  font-family: 'Norsk';
  font-style: normal;
  font-weight: normal;
  src: url('norsk-webfont.woff') format('woff');
}



@font-face {
  font-family: 'Norse';
  font-style: normal;
  font-weight: normal;
  src: url('Norse.otf') format('opentype');
}

@font-face {
  font-family: 'Norse';
  font-style: normal;
  font-weight: bold;
  src: url('Norsebold.otf') format('opentype');
}

/* devanagari */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  src: url('Teko-Regular.ttf') format('truetype');
}
