@font-face {
  font-family: 'Norse';
  font-style: normal;
  font-weight: normal;
  src: url('Norse.otf') format('opentype');
}

@font-face {
  font-family: 'Norse';
  font-style: normal;
  font-weight: bold;
  src: url('Norsebold.otf') format('opentype');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  src: url('Teko-Regular.ttf') format('truetype');
}
