* {
  margin: 0;
}

body {
<<<<<<< HEAD
  height: 100vh;
  background: url('../images/forest-3.jpg');
=======
  height: 97vh;
  background-image: url('../images/lfz-background.jpg');
>>>>>>> parent of fad082e... Added mobile responsiveness
  background-size: cover;
}

/* header {
  text-align: center;
} */

/* h1 {
  font-family: 'Norsk';
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
} */

header img {
  height: 50px;
}

aside, main {
  display: flex;
  height: 100%;
}

aside {
  flex-basis: 60%;
  justify-content: center;
<<<<<<< HEAD
  align-items: flex-end;
=======
>>>>>>> parent of fad082e... Added mobile responsiveness
}

main {
  flex-wrap: wrap;
  margin: 0 auto;
}

.row:first-child {
  height: 10%;
  display: flex;
<<<<<<< HEAD
  justify-content: space-evenly;
  align-items: flex-end;
=======
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
>>>>>>> parent of fad082e... Added mobile responsiveness
}

.row:nth-child(2) {
  height: 90%;
}

.stat {
<<<<<<< HEAD
  font-family: 'Teko';
  font-weight: 300;
  text-transform: uppercase;
  background: linear-gradient(to right, rgba(95, 94, 87, 0.5), rgba(255, 253, 234, 0.5)), url(../images/witchcraft/fog.png);
  background-size: cover;
  margin: 0 10%;
  /* display: flex;
=======
  background-color: #86CEEB;
  height: 13%;
  margin: 1.5% 10%;
  display: flex;
>>>>>>> parent of fad082e... Added mobile responsiveness
  justify-content: center;
  align-items: center; */
  font-size: 1.5rem;
  text-align: center;
<<<<<<< HEAD

  border-radius: 0.5rem;
}

span {
    display: block;
  }

.stat-container {
  flex-basis: 25%;
}

#gameCards > *{
  width: 15%;
=======
>>>>>>> parent of fad082e... Added mobile responsiveness
}

.card {
  height: 29%;
  margin: 2% 0.3%;
  position: relative;
  border: 2px solid #FAE193;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 10px rgb(253, 241, 206);
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-front {
  background-size: cover;
  z-index: 1
}

.card-back {
  background-image: url('../images/moon-eye.jpg');
  background-size: cover;
  z-index: 2;
}

.cauldron {
  background-image: url('../images/witchcraft/cauldron.jpg');
}

.crystal {
  background-image: url('../images/witchcraft/crystal-pendant.jpg');
}

.flowers {
  background-image: url('../images/witchcraft/dried-flowers.jpeg');
}

.lavender {
  background-image: url('../images/witchcraft/lavender.jpg');
}

.mushroom {
  background-image: url('../images/witchcraft/mushroom.jpg');
}

.potion {
  background-image: url('../images/witchcraft/potion.jpg');
}

.runes {
  background-image: url('../images/witchcraft/runes.jpg');
}

.salt {
  background-image: url('../images/witchcraft/salt.jpeg');
  background-position: right;
}

.skull {
  background-image: url('../images/witchcraft/skull.jpg');
}


.arryn {
  background-image: url('../images/got-images/arryn.jpg');
}

.baratheon {
  background-image: url('../images/got-images/baratheon-color.jpg');
}

.greyjoy {
  background-image: url('../images/got-images/greyjoy.jpg');
}

.martell {
  background-image: url('../images/got-images/martell.jpg');
}

.stark {
  background-image: url('../images/got-images/stark-light.jpg');
}

.targaryen {
  background-image: url('../images/got-images/targaryen.jpg');
}

.tully {
  background-image: url('../images/got-images/tully.jpg');
}

.tyrell {
  background-image: url('../images/got-images/tyrell.jpg');
}

.lannister {
  background-image: url('../images/got-images/lannister.jpg');
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 3;
}

.modal-content {
<<<<<<< HEAD
  background: url('../images/witchcraft/leather-2.jpg');
  background-size: cover;
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
=======
  background-color: #57ABF4;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2.5rem;
>>>>>>> parent of fad082e... Added mobile responsiveness
  text-align: center;
  align-items: space-evenly;
  width: 80%;
  z-index: 3;
}

.modal-content h2 {
  font-family: 'Norse';
  font-weight: bold;
  color: #000000;
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.modal-content p {
  font-family: 'Teko';
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button-container button {
  margin: 10px;
}

.modal-content button {
<<<<<<< HEAD
  font-family: 'Teko';
  font-size: 1.5rem;
=======
  font-size: 2rem;
>>>>>>> parent of fad082e... Added mobile responsiveness
  width: 65%;
  padding: 10px;
  border: 2px solid #CFB53B;
  color: #CFB53B;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 900px) {
  .modal-content{
    font-size: 1.2rem;
    height: 50vh;
    width: 70vw;
  }
}

<<<<<<< HEAD
@media only screen and (max-width: 700px) {
  header img {
    height: auto;
  }

  .row:first-child {
    height: 15%;
    width: 90%;
    margin: 0 auto;
  }

  .row:nth-child(2) {
    height: 85%;

  }

  .modal-content{
    font-size: 1.2rem;
    height: 90vh;
    width: 70vw;
  }
  .modal-content button {
    font-size: 0.75rem;
  }
  .stat {
    font-size: 1rem;
  }
  header img {
    width: 90%;
  }
}



@media only screen and (max-aspect-ratio: 1/1) {
  body {
    height: 100vh;
  }
  header img {
    width: 75%;
    height: auto;
    margin-top: 5px;
  }

  header {
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  .col-2, .col-10 {
    width: 100%;
  }

  .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: auto;
  }

  aside {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
  }

  main {
    justify-content: space-around;
  }
  .row {
    flex-direction: column;
  }

  .row:first-child {
    align-items: center;
  }

  .stat {
    margin: 5px;
    padding: 20px 0;
    font-size: 1.5rem;
  }

  .stat-container {
    flex-basis: 25%;
    align-self: stretch;
    margin-bottom: 0;
  }

  .stat-container > .stat,
  .stat.main {
    margin: 5px;
  }

  .main {
    flex-basis: 100%;
  }

  main {
    align-content: center;
    height: auto;
  }

  #gameCards .col-4-sm {
    width: 25%;
    height: 75px;
  }

  .col-10 {
    justify-content: center;
  }
  .card {
    margin: 1%;
  }
  .row:nth-child(2) {
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .stat {
    padding: 10px 0;
    font-size: 1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}

=======
>>>>>>> parent of fad082e... Added mobile responsiveness
.hidden {
  display: none;
}
