* {
  margin: 0;
}

body {
  height: 97vh;
  background-image: url('../images/lfz-background.jpg');
  background-size: cover;
}

aside, main {
  display: flex;
  height: 100%;
}

aside {
  flex-direction: column;
  justify-content: center;
}

main {
  flex-wrap: wrap;
  margin: 0 auto;
}

.row:first-child {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

.row:nth-child(2) {
  height: 90%;
}

.stat {
  background-color: #86CEEB;
  height: 13%;
  margin: 1.5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

.card {
  background-image: url('../images/lfz-card.jpg');
  background-size: cover;
  background-position: center;
  height: 29%;
  margin: 2% 0.3%;
  position: relative;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  background-image: url('../images/lfz-card.jpg');
}
.js-logo {
  background-image: url('../images/js-logo.png');
}

.css-logo {
  background-image: url('../images/css-logo.png');
}

.docker-logo {
  background-image: url('../images/docker-logo.jpg');
}

.github-logo {
  background-image: url('../images/gitHub-logo.png');
}

.html-logo {
  background-image: url('../images/html-logo.png');
}

.mysql-logo {
  background-image: url('../images/mysql-logo.jpg');
}

.node-logo {
  background-image: url('../images/node-logo.png');
}

.php-logo {
  background-image: url('../images/php-logo.jpeg');
}

.react-logo {
  background-image: url('../images/react-logo.png');
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-content {
  background-color: #57ABF4;
  height: 500px;
  width: 500px;
  display: flex;
  font-size: 2.5rem;
  text-align: center;
  align-items: center;
}

.hidden {
  display: none;
}
